[user]
	email = andrezacsanchez@gmail.com
	name = Andre Z. Sanchez
[push]
	default = simple
[url "https://"]
	insteadOf = git://
[core]
  editor = vim
[alias]
  co = checkout
  s = status
  ss = stash save --include-untracked
  sp = stash pop
  sl = stash list
  b = branch
  fp = fetch -p
  mm = "!f(){ git checkout master && git fetch -p && git pull origin master; };f"
  bn = rev-parse --abbrev-ref HEAD
  sw = switch
